.Home__calender {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
  transition: 0.5s ease;
}

.Home__calender__monthYear {
  justify-content: space-between;
}

.Home__calender__monthYear > select {
  background-color: #cccccc;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 20vh;
  padding: 5px 10px;
}

.Home__calender__monthYear > select option {
  background-color: #cccccc !important;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 20vh;
  padding: 5px 10px;
}

.Home__calender > table {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.Home__calender tbody {
  width: 100%;
  justify-content: space-evenly;
}

.Home__calender thead {
  background-color: rgb(231, 231, 231);
}

.Home__calender td,
th {
  padding: 0 15px;
}

.holiday {
  color: red;
  font-weight: bold;
}

.currentDate {
  background-color: #5900ff;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
}
