.Wishes {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-right: 20px;
  margin-top: 20px;
  width: 60vh;
  align-items: center;
  min-height: 20vh;
  transition: 0.5s ease;
}

.Wishes__title {
  text-align: center;
  font-weight: bold;
}

.Wishes__horizontalLine {
  border-top: 1px solid gray;
  width: 55vh;
}

.Wishes__body {
  width: 100%;
  padding-left: 20px;
  text-align: left;
  margin-top: 5px;
  display: flex;
  height: 15vh;
}

.Wishes__body > ul {
  overflow-y: auto;
  width: 100%;
}
